@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #0f070f 2%, #3b1e3c 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #0f070f 10%, #3b1e3c 90%);
  }
}

@media (max-width: 1023px) {
  html,
  body {
    height: auto;
    overflow-y: auto;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

html,
body {
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #0f070f;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
