@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #0f070f 2%, #3b1e3c 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #0f070f 10%, #3b1e3c 90%);
  }
}

@media (max-width: 1023px) {
  html,
  body {
    height: auto;
    overflow-y: auto;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutModal {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-fadeInModal {
  animation: fadeInModal 0.25s ease-out forwards;
}

.animate-fadeOutModal {
  animation: fadeOutModal 0.35s ease-in forwards;
}

html,
body {
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #0f070f;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #9573a8 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}
